#myInput {
  position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;

   /* Full-width */
  font-size: 25px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: none; /* Add a grey border */
  border-radius: 1mm;
  margin-bottom: 12px; /* Add some space below the input */
box-shadow: 0mm 0mm 0mm black;
}
#myInput:focus{
  outline: none;
}
#myUL {
  /* Remove default list styling */
  list-style-type: none;
  width: 94.5%;
  padding: 0;
  margin: 0;
column-count: 1;
overflow-x:hidden;
}
#myUL li {

  border: 0px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 0px;
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a {

  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}
#dual{
  margin: 5mm;
  column-count: 2;
}
#dual a{
  height: 30mm;
}
#tri{
  margin: 5mm;
  column-count: 3;
}
#tri a{
  height: 30mm;
}

#myUL li a:hover:not(.header) {
  background-color: #03dac6; /* Add a hover effect to all links, except for headers */
  border-color: #03dac6;
}

.index{
  -moz-column-fill: auto; /* Firefox */
  column-fill: auto;
  column-count: 1;
  column-gap: 5px;

}
.search_bar{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}
.search_bar:focus{
  outline: none;
}
