#myInput {
  position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
  background-image: url('./search.png'); /* Add a search icon to input */
  background-position: 6px 6px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  background-size: 30px;
  width: 90%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 2px solid #ddd; /* Add a grey border */
  border-radius: 1mm;
  margin-bottom: 12px; /* Add some space below the input */
}
#myInput:focus{
  outline: none;
}
#myUL {
  /* Remove default list styling */
  list-style-type: none;
  width: 94.5%;
  padding: 0;
  margin: 0;
column-count: 1;
overflow-x:hidden;
}

#myUL li a {

  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #17bf63; /* Add a hover effect to all links, except for headers */
  border-color: #17bf63;
}

.index{
  -moz-column-fill: auto; /* Firefox */
  column-fill: auto;
}
.search_bar{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}
.search_bar:focus{
  outline: none;
}
